---
import { Site } from '../config'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title={Site.title}>
	<main>
		<Header />
		<!--File Upload-->
		<div class="btn-wrapper">
			<label class="btn" for="file_upload">Upload SVG</label>
			<input type="file" id="file_upload" accept=".svg" />
		</div>
		<!--//File Upload-->

		<!--Uploaded SVG Preview-->
		<div class="preview" id="svg_preview"></div>
		<!--//Uploaded SVG Preview-->

		<form id="svg_form">
			<input type="number" id="resize_value" required placeholder="150" />
			<button type="button" onclick="playGround();exportResizedSvg();">Generate</button>
		</form>
		<div class="download-wrapper" id="download_wrapper">
			<a href="data:" id="data" download="svg" class="download-png" target="_blank"> Download PNG</a>
		</div>
		<img alt="" src="" id="fromcanvas" />
		<Footer />
	</main>
	<script is:inline src='/js/svg_todataurl.js'></script>
	<script is:inline src='/js/script.js'}></script>
</Layout>

<style>
	main {
		display: grid;
		place-items: center;
		justify-content: center;
	}

	[astro-icon] {
		display: inline;
		position: relative;
		top: 0.15em;
		width: 1rem;
	}

	svg:nth-of-type(1) {
		border: dashed 2px hsla(0, 0%, 100%, 0.3);
		padding: 5px;
		border-radius: 10px;
	}

	div.download-wrapper svg {
		border: none;
		display: inline;
		margin: 0;
		padding: 5px 0;
		vertical-align: bottom;
	}

	div.btn-wrapper {
		width: 150px;
		height: 36px;
		margin: 40px auto 0px auto;
		display: block;
		position: relative;
		cursor: pointer;
	}

	div.btn-wrapper:hover label.btn {
		background-color: hsl(175, 73%, 43%);
	}

	div.btn-wrapper:active label.btn {
		background-color: hsl(175, 73%, 40%);
	}

	label.btn {
		text-align: center;
		padding: 10px 15px;
		box-sizing: border-box;
		background-color: hsl(175, 64%, 47%);
		color: hsl(0, 0%, 100%);
		position: absolute;
		width: 100%;
		cursor: pointer;
		border-radius: 4px;
	}

	input[type='file'] {
		width: 150px;
		height: 36px;
		position: absolute;
		opacity: 0;
		cursor: pointer;
		display: none;
	}

	form {
		display: none;
		text-align: center;
	}

	form input[type='number'] {
		padding: 10px 10px;
		border-radius: 4px;
		border: none;
		font-size: 1rem;
		display: inline-block;
		margin: 5px;
	}

	button {
		text-align: center;
		padding: 10px 15px;
		background-color: hsl(175, 64%, 47%);
		color: hsl(0, 0%, 100%);
		border-radius: 4px;
		font-size: 1rem;
		border: none;
		display: inline-block;
		margin: 5px;
		cursor: pointer;
	}

	button:hover {
		background-color: #1dbcaf;
	}

	button:active {
		background-color: #1bb0a3;
	}

	.download-png {
		font-size: 1.3em;
		padding: 10px 45px;
		background-color: #00bcd4;
		text-decoration: none;
		color: #ffffff;
		border-radius: 4px;
		display: inline-block;
	}

	.download-png:hover {
		background-color: #03a6bb;
	}

	.download-png:active {
		background-color: #017c8c;
	}

	div.download-wrapper {
		margin: 25px;
		display: none;
		text-align: center;
	}

	#fromcanvas {
		display: none;
	}
</style>
