---
import Emoji from 'astro-emoji'

const url = Astro.site
---

<footer>
	<p>
		Crafted with
		{' '}
		<Emoji symbol="❤️" label="love" />
		{' '}
		in Cologne by <a href="http://zkrew.red" target="_blank">RDWZ</a><br />
		<a href="http://astro.build" target="_blank">Build with Astro</a>
		&middot; <a href="https://github.com/zkrew-red/relacser" target="_blank">View Source</a>
		&middot; <a href={'https://twitter.com/intent/tweet?url=' +
				url +
				'&hashtags=rescaler/svg/iconresizer/svgtopng&related=webkul&text=reScaler%20-%20Quick%20SVG%20Icon%20Resizer%20%40webkul'}
			target="_blank">Share Tweet</a>
	</p>
</footer>

<style>
	footer {
		color: white;
		position: absolute;
		bottom: 1.5rem;
		width: 100%;
		text-align: center;
	}

	a:hover {
		color: white !important;
		border-radius: 1rem;
		background: #2bc7ba;
	}

	a:link, footer a:visited {
		color: #2bc7ba;
		border-bottom: none;
		padding-inline: .5rem;
		text-decoration: none;
	}
</style>
