---

---

<header>
	<h1>Relacser</h1>
	<p>Quick SVG to PNG Converter &amp; Resizer</p>
</header>

<style>
	header {
		margin-top: .5rem;
	}

	h1,
	p {
		text-align: center;
		color: hsl(0, 0%, 100%);
	}
	h1 {
		font-size: var(--font-size-7);
	}
</style>
